<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        canvas {
            position: absolute;
            left:0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.2);
        }
        #countdown {
            position: absolute;
            top: 20px;
            left: 20px;
            color: rgba(255, 0, 0, 0.6);
            font-size: 24px;
        }
    </style>
</head>
<body>  
    <canvas id="heart"></canvas>
    <div id="countdown"></div>

    <!-- JavaScript -->
    <script src="script.js"></script>
</body>
</html>
